In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import numpy as np
# Set the style to 'whitegrid'
plt.style.use('seaborn-whitegrid')

C:\Users\janak\AppData\Local\Temp\ipykernel_22860\3836125493.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-whitegrid')

In [2]:
df=pd.read_csv('raw_data/covid19.csv',header=None)
print(df.shape)
df.head(10)

(232233, 18)

C:\Users\janak\AppData\Local\Temp\ipykernel_22860\1830080498.py:1: DtypeWarning: Columns (1,4,7,8,9,10,11,12,13,14,15,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('raw_data/covid19.csv',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,NaN,index,continent,country,population,day,time,cases_new,cases_active,cases_critical,cases_recovered,cases_1M_pop,cases_total,deaths_new,deaths_1M_pop,deaths_total,tests_1M_pop,tests_total
1,0.0,0,Asia,Afghanistan,40418964.0,2022-03-17,2022-03-17T20:15:03+00:00,+128,9698.0,1124.0,159569.0,4377,176918,NaN,189,7651.0,22496,909246.0
2,1.0,1,Asia,Afghanistan,40416563.0,2022-03-17,2022-03-17T08:00:04+00:00,+126,9858.0,1124.0,159234.0,4373,176743,+2,189,7651.0,22463,907896.0
3,2.0,2,Asia,Afghanistan,40414161.0,2022-03-16,2022-03-16T08:00:04+00:00,+108,10008.0,1124.0,158917.0,4369,176571,+1,189,7646.0,22434,906639.0
4,3.0,3,Asia,Afghanistan,40411760.0,2022-03-15,2022-03-15T09:15:03+00:00,+180,10257.0,1124.0,158507.0,4365,176409,+2,189,7645.0,22410,905633.0
5,4.0,4,Asia,Afghanistan,40409359.0,2022-03-14,2022-03-14T09:15:03+00:00,+118,10129.0,1124.0,158429.0,4360,176201,+1,189,7643.0,22372,904055.0
6,5.0,5,Asia,Afghanistan,40409359.0,2022-03-13,2022-03-13T11:00:04+00:00,+58,10042.0,1124.0,158356.0,4356,176039,+1,189,7641.0,22351,903192.0
7,6.0,6,Asia,Afghanistan,40406958.0,2022-03-13,2022-03-13T00:00:03+00:00,+58,10042.0,1124.0,158356.0,4357,176039,+1,189,7641.0,22352,903192.0
8,7.0,7,Asia,Afghanistan,40404557.0,2022-03-12,2022-03-12T10:30:03+00:00,+81,10032.0,1124.0,158302.0,4355,175974,+1,189,7640.0,22338,902544.0
9,8.0,8,Asia,Afghanistan,40404557.0,2022-03-11,2022-03-11T13:45:04+00:00,+368,9970.0,1124.0,158284.0,4353,175893,+3,189,7639.0,22321,901852.0

In [3]:
df.drop(columns=[0,1],inplace=True)
# Extract the first row
header_row = df.iloc[0]
# Assign the first row as the header
df.columns = header_row
# Remove the first row from the DataFrame
df = df[1:]

df.head(10)

,continent,country,population,day,time,cases_new,cases_active,cases_critical,cases_recovered,cases_1M_pop,cases_total,deaths_new,deaths_1M_pop,deaths_total,tests_1M_pop,tests_total
1,Asia,Afghanistan,40418964.0,2022-03-17,2022-03-17T20:15:03+00:00,+128,9698.0,1124.0,159569.0,4377,176918,NaN,189,7651.0,22496,909246.0
2,Asia,Afghanistan,40416563.0,2022-03-17,2022-03-17T08:00:04+00:00,+126,9858.0,1124.0,159234.0,4373,176743,+2,189,7651.0,22463,907896.0
3,Asia,Afghanistan,40414161.0,2022-03-16,2022-03-16T08:00:04+00:00,+108,10008.0,1124.0,158917.0,4369,176571,+1,189,7646.0,22434,906639.0
4,Asia,Afghanistan,40411760.0,2022-03-15,2022-03-15T09:15:03+00:00,+180,10257.0,1124.0,158507.0,4365,176409,+2,189,7645.0,22410,905633.0
5,Asia,Afghanistan,40409359.0,2022-03-14,2022-03-14T09:15:03+00:00,+118,10129.0,1124.0,158429.0,4360,176201,+1,189,7643.0,22372,904055.0
6,Asia,Afghanistan,40409359.0,2022-03-13,2022-03-13T11:00:04+00:00,+58,10042.0,1124.0,158356.0,4356,176039,+1,189,7641.0,22351,903192.0
7,Asia,Afghanistan,40406958.0,2022-03-13,2022-03-13T00:00:03+00:00,+58,10042.0,1124.0,158356.0,4357,176039,+1,189,7641.0,22352,903192.0
8,Asia,Afghanistan,40404557.0,2022-03-12,2022-03-12T10:30:03+00:00,+81,10032.0,1124.0,158302.0,4355,175974,+1,189,7640.0,22338,902544.0
9,Asia,Afghanistan,40404557.0,2022-03-11,2022-03-11T13:45:04+00:00,+368,9970.0,1124.0,158284.0,4353,175893,+3,189,7639.0,22321,901852.0
10,Asia,Afghanistan,40402155.0,2022-03-11,2022-03-11T00:00:03+00:00,+368,9970.0,1124.0,158284.0,4354,175893,+3,189,7639.0,22322,901852.0

In [4]:
df['country'].value_counts()

country
USA                  24380
Germany               5589
India                 5283
Canada                3064
Brazil                2982
                     ...
MS-Zaandam               4
US-Virgin-Islands        2
MS-Zaandam-              2
Micronesia               1
Saint-Helena             1
Name: count, Length: 229, dtype: int64

In [5]:
df=df[df['country']=='Sri-Lanka']
print(df['country'].value_counts())

country
Sri-Lanka    1931
Name: count, dtype: int64

In [6]:
df.drop(columns=['country','continent'],inplace=True)

In [7]:
try:
    # Convert 'Current_Date' to DateTime format
    df['day'] = pd.to_datetime(df['day'])
    print("Conversion to DateTime format successful.")
except ValueError as e:
    print(f"Error converting to DateTime format: {e}")

Conversion to DateTime format successful.

In [8]:
# Step 1: Check Time Range
min_date = df['day'].min()
max_date = df['day'].max()
print("Time Range: From", min_date, "to", max_date)

# Step 2: Generate Time Range
complete_time_range = pd.date_range(start=min_date, end=max_date, freq='D')  
# Step 3: Identify Missing Values
missing_values = complete_time_range[~complete_time_range.isin(df['day'])]

if len(missing_values) == 0:
    print("No missing dates found in the time range.")
else:
    print("Missing dates found:")
    print('Count: ',len(missing_values))
    print(missing_values)

Time Range: From 2020-03-22 00:00:00 to 2022-03-17 00:00:00
Missing dates found:
Count:  4
DatetimeIndex(['2020-05-30', '2021-08-11', '2021-08-30', '2022-03-15'], dtype='datetime64[ns]', freq=None)

In [9]:
df

,population,day,time,cases_new,cases_active,cases_critical,cases_recovered,cases_1M_pop,cases_total,deaths_new,deaths_1M_pop,deaths_total,tests_1M_pop,tests_total
179469,21566023.0,2022-03-17,2022-03-17T20:15:03+00:00,301.0,16576.0,NaN,624440.0,30485.0,657435,+3,761.0,16419.0,295287.0,6368159.0
179470,21565778.0,2022-03-17,2022-03-17T17:00:03+00:00,320.0,21525.0,NaN,619193.0,30471.0,657134,+1,761.0,16416.0,295290.0,6368159.0
179471,21565778.0,2022-03-16,2022-03-16T16:15:04+00:00,428.0,21326.0,NaN,619073.0,30456.0,656814,+8,761.0,16415.0,295290.0,6368159.0
179472,21565289.0,2022-03-16,2022-03-16T00:00:03+00:00,345.0,21018.0,NaN,618961.0,30437.0,656386,+10,761.0,16407.0,295297.0,6368159.0
179473,21565289.0,2022-03-14,2022-03-14T17:15:03+00:00,311.0,20758.0,NaN,618886.0,30421.0,656041,+7,760.0,16397.0,295297.0,6368159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181395,NaN,2020-03-23,2020-03-23T12:45:05+00:00,5.0,84.0,2.0,3.0,4.0,87,NaN,NaN,NaN,NaN,NaN
181396,NaN,2020-03-23,2020-03-23T08:00:06+00:00,4.0,83.0,2.0,3.0,4.0,86,NaN,NaN,NaN,NaN,NaN
181397,NaN,2020-03-23,2020-03-23T05:00:05+00:00,5.0,79.0,2.0,3.0,4.0,82,NaN,NaN,NaN,NaN,NaN
181398,NaN,2020-03-22,2020-03-22T12:15:16+00:00,3.0,77.0,2.0,3.0,4.0,80,NaN,NaN,NaN,NaN,NaN
181399,NaN,2020-03-22,2020-03-22T11:45:06+00:00,NaN,74.0,2.0,3.0,4.0,77,NaN,NaN,NaN,NaN,NaN

In [10]:
# Step 4: Create DataFrame for missing dates
missing_df = pd.DataFrame({'day': missing_values})

# Step 5: Concatenate missing dates DataFrame with existing DataFrame
df = pd.concat([df, missing_df], ignore_index=True)

# Sort the DataFrame by 'DATE' column
df = df.sort_values(by='day')
df=df.reset_index(drop=True)

print("Missing dates added:")
df[df['day'].isin(missing_values)]

Missing dates added:

,population,day,time,cases_new,cases_active,cases_critical,cases_recovered,cases_1M_pop,cases_total,deaths_new,deaths_1M_pop,deaths_total,tests_1M_pop,tests_total
332,NaN,2020-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1555,NaN,2021-08-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,NaN,2021-08-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1930,NaN,2022-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN