In [1]:
import pandas as pd

## Datasets Merging
 Here all the Datasets (HCHO,Weather,Covid and demographics,anthropogenic activities) will be merged to get the final dataset

In [2]:
weather=pd.read_csv(r"processed data\weather.csv")
cov_demo=pd.read_csv(r"processed data\covid_and_demographics.csv")
anthro=pd.read_csv(r"processed data\anthropogenic_effects.csv")
hcho=pd.read_csv(r"processed data\temp\all_fomaldehyde.csv")

In [3]:
print(weather.shape)
weather.columns

(12782, 12)

Index(['NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'DATE', 'PRCP', 'TAVG', 'TMAX', 'TMIN'],
      dtype='object')

In [4]:
print(cov_demo.shape)
cov_demo.columns

(12782, 8)

Index(['District', 'Area(km^2)', 'Population', 'Population_density', 'date',
       'total', 'new', 'Lockdown'],
      dtype='object')

In [5]:
print(anthro.shape)
anthro.columns

(12782, 5)

Index(['region', 'DATE', 'carbonmonoxide_average', 'nitrogendioxide_average',
       'ozone_average'],
      dtype='object')

In [6]:
print(hcho.shape)
hcho.columns

(12782, 4)

Index(['Current_Date', 'Location', 'Next_Date', 'HCHO_reading'], dtype='object')

In [7]:
merged_df = pd.merge(hcho, weather, left_on=['Current_Date', 'Location'], right_on=['DATE', 'NAME'], how='inner')
merged_df = merged_df.drop(['DATE', 'NAME'], axis=1)
merged_df = pd.merge(merged_df, cov_demo, left_on=['Current_Date', 'Location'], right_on=['date', 'District'], how='inner')
merged_df = merged_df.drop(['date', 'District'], axis=1)
merged_df = pd.merge(merged_df, anthro, left_on=['Current_Date', 'Location'], right_on=['DATE', 'region'], how='inner')
merged_df = merged_df.drop(['DATE', 'region'], axis=1)
merged_df=merged_df.sort_values(by=['Location', 'Current_Date'])

In [8]:
merged_df.columns

Index(['Current_Date', 'Location', 'Next_Date', 'HCHO_reading', 'LATITUDE',
       'LONGITUDE', 'ELEVATION', 'Sea Proximity (approximate-km)',
       'Sea Proximity Categorised', 'Climate Zone', 'PRCP', 'TAVG', 'TMAX',
       'TMIN', 'Area(km^2)', 'Population', 'Population_density', 'total',
       'new', 'Lockdown', 'carbonmonoxide_average', 'nitrogendioxide_average',
       'ozone_average'],
      dtype='object')

In [9]:
try:
    # Convert 'Current_Date' to DateTime format
    merged_df['Next_Date'] = pd.to_datetime(merged_df['Next_Date'])
    print("Conversion to DateTime format successful.")
except ValueError as e:
    print(f"Error converting to DateTime format: {e}")

Conversion to DateTime format successful.

In [10]:
try:
    # Convert 'Current_Date' to DateTime format
    merged_df['Current_Date'] = pd.to_datetime(merged_df['Current_Date'])
    print("Conversion to DateTime format successful.")
except ValueError as e:
    print(f"Error converting to DateTime format: {e}")

Conversion to DateTime format successful.

In [11]:
merged_df=merged_df[['Current_Date', 'Location','LATITUDE', 'LONGITUDE', 'ELEVATION', 'Sea Proximity (approximate-km)', 
       'Sea Proximity Categorised', 'Climate Zone','Area(km^2)', 'Population', 'Population_density','new','total',
       'Lockdown', 'carbonmonoxide_average', 'nitrogendioxide_average','ozone_average','PRCP', 'TAVG', 'TMAX', 'TMIN',
       'HCHO_reading']]
merged_df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'Area(km^2)', 'Population', 'Population_density', 'new',
       'total', 'Lockdown', 'carbonmonoxide_average',
       'nitrogendioxide_average', 'ozone_average', 'PRCP', 'TAVG', 'TMAX',
       'TMIN', 'HCHO_reading'],
      dtype='object')

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12782 entries, 0 to 12781
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Current_Date                    12782 non-null  datetime64[ns]
 1   Location                        12782 non-null  object
 2   LATITUDE                        12782 non-null  float64
 3   LONGITUDE                       12782 non-null  float64
 4   ELEVATION                       12782 non-null  float64
 5   Sea Proximity (approximate-km)  12782 non-null  int64
 6   Sea Proximity Categorised       12782 non-null  object
 7   Climate Zone                    12782 non-null  object
 8   Area(km^2)                      12782 non-null  float64
 9   Population                      12782 non-null  int64
 10  Population_density              12782 non-null  float64
 11  new                             12782 non-null  float64
 12  total                           12782 non-null  float64
 13  Lockdown                        12782 non-null  int64
 14  carbonmonoxide_average          12782 non-null  float64
 15  nitrogendioxide_average         12782 non-null  float64
 16  ozone_average                   12782 non-null  float64
 17  PRCP                            12782 non-null  float64
 18  TAVG                            12782 non-null  float64
 19  TMAX                            12782 non-null  float64
 20  TMIN                            12782 non-null  float64
 21  HCHO_reading                    12782 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(3), object(3)
memory usage: 2.1+ MB

In [13]:
merged_df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'Area(km^2)', 'Population', 'Population_density', 'new',
       'total', 'Lockdown', 'carbonmonoxide_average',
       'nitrogendioxide_average', 'ozone_average', 'PRCP', 'TAVG', 'TMAX',
       'TMIN', 'HCHO_reading'],
      dtype='object')

In [14]:
merged_df['Location'].value_counts()

Location
Bibile, Monaragala     1826
Colombo Proper         1826
Deniyaya, Matara       1826
Jaffna Proper          1826
Kandy Proper           1826
Kurunegala Proper      1826
Nuwara Eliya Proper    1826
Name: count, dtype: int64

In [15]:
merged_df

,Current_Date,Location,LATITUDE,LONGITUDE,ELEVATION,Sea Proximity (approximate-km),Sea Proximity Categorised,Climate Zone,Area(km^2),Population,...,total,Lockdown,carbonmonoxide_average,nitrogendioxide_average,ozone_average,PRCP,TAVG,TMAX,TMIN,HCHO_reading
0,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.035565,0.000007,0.113006,0.22,21.79,26.15,18.60,0.000019
1,2019-01-02,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.032648,0.000011,0.113006,0.03,21.09,25.80,17.52,0.000019
2,2019-01-03,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.032855,0.000010,0.110589,0.03,21.03,26.32,17.05,0.000028
3,2019-01-04,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.033473,0.000009,0.113011,0.02,20.88,26.46,16.77,0.000037
4,2019-01-05,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.034100,0.000009,0.112202,0.14,22.12,27.42,17.82,-0.000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12777,2023-12-27,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,Intermediate Zone,1741.2,781000,...,672039.0,0,0.032671,0.000016,0.109249,0.35,61.50,64.00,59.00,0.000237
12778,2023-12-28,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,Intermediate Zone,1741.2,781000,...,672039.0,0,0.031646,0.000016,0.110141,2.44,61.00,62.00,60.00,0.000084
12779,2023-12-29,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,Intermediate Zone,1741.2,781000,...,672039.0,0,0.030793,0.000016,0.110725,0.64,60.00,61.00,59.00,0.000089
12780,2023-12-30,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,Intermediate Zone,1741.2,781000,...,672039.0,0,0.031598,0.000017,0.109886,0.21,61.00,65.00,57.00,0.000076
12781,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,Intermediate Zone,1741.2,781000,...,672039.0,0,0.031346,0.000015,0.110000,0.28,60.00,63.00,57.00,0.000049

In [16]:
# merged_df.to_csv(r"processed data\all_data_combined.csv",index=False)
#print('Success')

Success

## Dataset Preperation for Power BI dashboard

Here the initial transformations need to be done in the dataset for powerBI dashboard will be done.

In [17]:
df=merged_df.copy()

In [18]:
df.head()

,Current_Date,Location,LATITUDE,LONGITUDE,ELEVATION,Sea Proximity (approximate-km),Sea Proximity Categorised,Climate Zone,Area(km^2),Population,...,total,Lockdown,carbonmonoxide_average,nitrogendioxide_average,ozone_average,PRCP,TAVG,TMAX,TMIN,HCHO_reading
0,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.035565,0.000007,0.113006,0.22,21.79,26.15,18.60,0.000019
1,2019-01-02,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.032648,0.000011,0.113006,0.03,21.09,25.80,17.52,0.000019
2,2019-01-03,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.032855,0.000010,0.110589,0.03,21.03,26.32,17.05,0.000028
3,2019-01-04,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.033473,0.000009,0.113011,0.02,20.88,26.46,16.77,0.000037
4,2019-01-05,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,Dry Zone,5638.7,496000,...,0.0,0,0.034100,0.000009,0.112202,0.14,22.12,27.42,17.82,-0.000018

In [19]:
df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'Area(km^2)', 'Population', 'Population_density', 'new',
       'total', 'Lockdown', 'carbonmonoxide_average',
       'nitrogendioxide_average', 'ozone_average', 'PRCP', 'TAVG', 'TMAX',
       'TMIN', 'HCHO_reading'],
      dtype='object')

In [20]:
df.drop(columns=['Lockdown','TMAX','TMIN'], inplace=True)
df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'Area(km^2)', 'Population', 'Population_density', 'new',
       'total', 'carbonmonoxide_average', 'nitrogendioxide_average',
       'ozone_average', 'PRCP', 'TAVG', 'HCHO_reading'],
      dtype='object')

In [21]:
df = df.rename(columns={'PRCP':'Precipitation','TAVG': 'Average Temperature', 
                        'carbonmonoxide_average': 'Average Carbonmonoxide', 
                        'ozone_average':'Average Ozone','nitrogendioxide_average':'Average Nitrogendioxide',
                       'total':'Total Cases','new':'Daily Cases'})
df['HCHO Reading']=df['HCHO_reading']

In [22]:
df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Climate Zone', 'Area(km^2)', 'Population', 'Population_density',
       'Daily Cases', 'Total Cases', 'Average Carbonmonoxide',
       'Average Nitrogendioxide', 'Average Ozone', 'Precipitation',
       'Average Temperature', 'HCHO_reading', 'HCHO Reading'],
      dtype='object')

In [23]:
var = ['HCHO Reading','Precipitation', 'Average Temperature', 'Average Carbonmonoxide', 'Average Nitrogendioxide'
       , 'Average Ozone']
id_cols = df.columns.difference(var).tolist()
melted_df = pd.melt(df, id_vars=id_cols, value_vars=var, var_name='Weather_and_Anthro', value_name='Reading')

var2=['Total Cases', 'Daily Cases']
id_cols2=melted_df.columns.difference(var2).tolist()
melted_df = pd.melt(melted_df, id_vars=id_cols2, value_vars=var2, var_name='Covid Data', value_name='Reading2')

melted_df.sort_values(by=['Current_Date','Location' , 'Weather_and_Anthro'],inplace=True)
melted_df=melted_df[['Current_Date', 'Location', 'LATITUDE',
       'LONGITUDE', 'ELEVATION', 'Sea Proximity (approximate-km)','Sea Proximity Categorised','Area(km^2)', 'Population', 'Population_density',
        'Climate Zone','Covid Data', 'Reading2','Weather_and_Anthro','Reading','HCHO_reading']]
print(melted_df)

       Current_Date             Location  LATITUDE  LONGITUDE  ELEVATION  \
38346    2019-01-01   Bibile, Monaragala    6.8719    81.3489      151.0
115038   2019-01-01   Bibile, Monaragala    6.8719    81.3489      151.0
51128    2019-01-01   Bibile, Monaragala    6.8719    81.3489      151.0
127820   2019-01-01   Bibile, Monaragala    6.8719    81.3489      151.0
63910    2019-01-01   Bibile, Monaragala    6.8719    81.3489      151.0
...             ...                  ...       ...        ...        ...
115037   2023-12-31  Nuwara Eliya Proper    6.9670    80.7670     1880.0
12781    2023-12-31  Nuwara Eliya Proper    6.9670    80.7670     1880.0
89473    2023-12-31  Nuwara Eliya Proper    6.9670    80.7670     1880.0
25563    2023-12-31  Nuwara Eliya Proper    6.9670    80.7670     1880.0
102255   2023-12-31  Nuwara Eliya Proper    6.9670    80.7670     1880.0

        Sea Proximity (approximate-km) Sea Proximity Categorised  Area(km^2)  \
38346                               52                    Inland      5638.7
115038                              52                    Inland      5638.7
51128                               52                    Inland      5638.7
127820                              52                    Inland      5638.7
63910                               52                    Inland      5638.7
...                                ...                       ...         ...
115037                              99              Hill Country      1741.2
12781                               99              Hill Country      1741.2
89473                               99              Hill Country      1741.2
25563                               99              Hill Country      1741.2
102255                              99              Hill Country      1741.2

        Population  Population_density       Climate Zone   Covid Data  \
38346       496000           87.963538           Dry Zone  Total Cases
115038      496000           87.963538           Dry Zone  Daily Cases
51128       496000           87.963538           Dry Zone  Total Cases
127820      496000           87.963538           Dry Zone  Daily Cases
63910       496000           87.963538           Dry Zone  Total Cases
...            ...                 ...                ...          ...
115037      781000          448.541236  Intermediate Zone  Daily Cases
12781       781000          448.541236  Intermediate Zone  Total Cases
89473       781000          448.541236  Intermediate Zone  Daily Cases
25563       781000          448.541236  Intermediate Zone  Total Cases
102255      781000          448.541236  Intermediate Zone  Daily Cases

        Reading2       Weather_and_Anthro    Reading  HCHO_reading
38346        0.0   Average Carbonmonoxide   0.035565      0.000019
115038       0.0   Average Carbonmonoxide   0.035565      0.000019
51128        0.0  Average Nitrogendioxide   0.000007      0.000019
127820       0.0  Average Nitrogendioxide   0.000007      0.000019
63910        0.0            Average Ozone   0.113006      0.000019
...          ...                      ...        ...           ...
115037       0.0      Average Temperature  60.000000      0.000049
12781   672039.0             HCHO Reading   0.000049      0.000049
89473        0.0             HCHO Reading   0.000049      0.000049
25563   672039.0            Precipitation   0.280000      0.000049
102255       0.0            Precipitation   0.280000      0.000049

[153384 rows x 16 columns]

In [24]:
melted_df.columns

Index(['Current_Date', 'Location', 'LATITUDE', 'LONGITUDE', 'ELEVATION',
       'Sea Proximity (approximate-km)', 'Sea Proximity Categorised',
       'Area(km^2)', 'Population', 'Population_density', 'Climate Zone',
       'Covid Data', 'Reading2', 'Weather_and_Anthro', 'Reading',
       'HCHO_reading'],
      dtype='object')

In [25]:
melted_df

,Current_Date,Location,LATITUDE,LONGITUDE,ELEVATION,Sea Proximity (approximate-km),Sea Proximity Categorised,Area(km^2),Population,Population_density,Climate Zone,Covid Data,Reading2,Weather_and_Anthro,Reading,HCHO_reading
38346,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,5638.7,496000,87.963538,Dry Zone,Total Cases,0.0,Average Carbonmonoxide,0.035565,0.000019
115038,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,5638.7,496000,87.963538,Dry Zone,Daily Cases,0.0,Average Carbonmonoxide,0.035565,0.000019
51128,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,5638.7,496000,87.963538,Dry Zone,Total Cases,0.0,Average Nitrogendioxide,0.000007,0.000019
127820,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,5638.7,496000,87.963538,Dry Zone,Daily Cases,0.0,Average Nitrogendioxide,0.000007,0.000019
63910,2019-01-01,"Bibile, Monaragala",6.8719,81.3489,151.0,52,Inland,5638.7,496000,87.963538,Dry Zone,Total Cases,0.0,Average Ozone,0.113006,0.000019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115037,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,1741.2,781000,448.541236,Intermediate Zone,Daily Cases,0.0,Average Temperature,60.000000,0.000049
12781,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,1741.2,781000,448.541236,Intermediate Zone,Total Cases,672039.0,HCHO Reading,0.000049,0.000049
89473,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,1741.2,781000,448.541236,Intermediate Zone,Daily Cases,0.0,HCHO Reading,0.000049,0.000049
25563,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,1741.2,781000,448.541236,Intermediate Zone,Total Cases,672039.0,Precipitation,0.280000,0.000049
102255,2023-12-31,Nuwara Eliya Proper,6.9670,80.7670,1880.0,99,Hill Country,1741.2,781000,448.541236,Intermediate Zone,Daily Cases,0.0,Precipitation,0.280000,0.000049

In [26]:
# melted_df.to_excel(r'processed data\Data-powerBI.xlsx', index=False)